
<div  ng-controller="View2Ctrl">
    <form role="form" ng-submit="getFlights()" >
        FROM: <select ng-model="from" required>
            <option value=""></option>
            <option value="CPH">Copenhagen</option>
            <option value="SXF">Berlin</option>
            <option value="BCN">Barcelona</option>
            <option value="STN">London</option>
            <option value="CDG">Paris</option>
        </select>
        Date: 	 
        <button type="button" class="btn btn-default" ng-click="open($event)">
            <span class="glyphicon glyphicon-calendar"></span>
        </button>

        <input type="text" id="datetimepicker1" disabled="true"
               uib-datepicker-popup="yyyy/MM/dd" 
               ng-model="date" 
               is-open="status.opened" 
               min-date="minDate" 
               max-date="maxDate" 
               datepicker-options="dateOptions"
               ng-required="true" close-text="Close" />

        Seats: <input size="1" type="text" name="number" ng-model="number" value="2" required>
        <button type="submit" class="btn btn-success">Search</button>
        
    </form>
    <br>
    <div class="loading" ng-show="hidden" ng-model="hidden"> <img src="assets/img/loading.gif"> </div>
    <div ng-show="shown" ng-model="shown" ng-repeat="airline in output">
        <uib-accordion>
            <uib-accordion-group style="width: fit-content; border-left: 12em" ng-repeat="unit in airline.flights| orderBy: 'totalPrice'" >
                <uib-accordion-heading>
                    {{output.airline}} {{unit.flightNumber}} - Price: {{unit.totalPrice}} 
                    <i class="pull-right glyphicon" ng-class="
                        {'glyphicon - chevron-down': status.open, 
                        'glyphicon - chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <!--                <ul>
                                    <li><b>flightID: </b> {{unit.flightID}} </li>
                                    <li><b>Seats:</b> {{unit.numberOfSeats}} </li>
                                    <li><b>Date:</b> {{unit.date}} </li>
                                    <li><b>PRICE:</b> {{unit.totalPrice}} </li>
                                    <li><b>Traveltime:</b> {{unit.traveltime}} </li>
                                    <li><b>From:</b> {{unit.origin}} </li>
                                    <li><b>Destination:</b> {{unit.destination}} </li>
                                    <li><b>Flight Number:</b> {{unit.flightNumber}} </li>
                                    <pre>
                                            <a href="#/view3" type="button" class="btn btn-lg" ng-click="
                                                        setSeats(unit.numberOfSeats);
                                                        setBook();
                                                        setAttri(unit.flightID, unit.destination, username);
                                                        "  > <h1>Book now !</h1></a></pre>
                                    
                
                
                                                    <a href="#/view3" ng-click="startBooking(
                                                                unit.flightID, 
                                                                output.airline, 
                                                                unit.numberOfSeats, 
                                                                unit.origin, 
                                                                unit.destination)">
                                                    BOOK</a>
                
                
                
                                </ul>-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><b>Flight Number:</b></th>
                            <th><b>Seats:</b></th>
                            <th><b>Date:</b> </th>
                            <th><b>Depature:</b> </th>
                            <th><b>Traveltime:</b></th>
                            <th><b>From:</b> </th>
                            <th><b>Destination:</b></th>
                            <th><b>Price:</b></th>
                            <th><b>Book:</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>    
                            <td>{{unit.flightNumber}}</td>
                            <td>{{unit.numberOfSeats}}</td>
                            <td>{{unit.date.substring(0, 10)}} </td>
                            <td>{{unit.date.substring(11, 16)}}</td>
                            <td>{{unit.traveltime}}</td>
                            <td>{{unit.origin}}</td>
                            <td>{{unit.destination}}</td>
                            <td>{{unit.totalPrice}}</td>
                            <td ng-show="!isAuthenticated">
                                <a href="#/login" type="button" class="btn-success">
                                      Book</a></td>
                            <td ng-show="isAuthenticated">
                                <a href="#/view3" type="button" class="btn-success"
                                     ng-click="setSeats(unit.numberOfSeats);setBook();setAttri(output.airline, unit.flightID, unit.destination, username);">
                                      Book</a>
                            </td>                 
                        </tr>
                    </tbody>
                </table>
            </uib-accordion-group>
        </uib-accordion>
    </div>


</div>
