
        <uib-accordion>
            <uib-accordion-group style="width: fit-content; border-left: 12em" ng-repeat="unit in data" >
                <uib-accordion-heading>
                    <b>{{unit.flightNumber}}</b> , {{unit.origin}} - {{unit.destination}} , {{unit.date.substring(0, 10)}}
                    <i class="pull-right glyphicon" ng-class="
                        {'glyphicon - chevron-down': status.open, 
                        'glyphicon - chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><b>Flight Number:</b> </th>
                            <th><b>Reservee Name:</b></th>
                            <th><b>Origin: </b></th>
                            <th><b>Reserve Phone:</b> </th>
                            <th><b>Reserve Email:</b></th>
                            <th><b>Number of Passengers</b></th>
<!--                            <th><b>From:</b> </th>
                            <th><b>Destination</b></th>-->
                            <th><b>Passengers</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>    
                            <td>{{unit.flightNumber}}</td>
                            <td>{{unit.reserveeName}}</td>
                            <td>{{unit.}}</td>
                            <td>{{unit.reservePhone}} </td>
                            <td>{{unit.reserveeEmail}}</td>
                            <td>{{unit.numberOfSeats}}</td>
<!--                            <td>{{unit.from}}</td>
                            <td>{{unit.to}}</td>-->
                            <td> <div ng-repeat="p in unit.passengers" >
                                    {{p.firstName}} 
                                    {{p.lastName}}
        </div>             </td>
                        </tr>
                    </tbody>
                </table>
            </uib-accordion-group>
        </uib-accordion>