<div  ng-controller="View2Ctrl">          
    <form action="" method="post">  
        <div class="row rs_row_header_info">               
            <div class="col-md-1 col-sm-1 col-xs-12">
                <div class="form-group">
                    <label> Seats </label>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-12">
                <div class="form-group">
                    <label> From </label>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-12">
                <div class="form-group">
                    <label> To </label>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="form-group">
                    <label> First Name </label>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="form-group">
                    <label> Phone </label>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="form-group">
                    <label> E-mail </label>
                </div>
            </div> 
        </div>
                <div class="row rs_row_header_info">               
                    <div class="col-md-1 col-sm-1 col-xs-12">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="{{ book.numberOfSeats}}" disabled="true" />
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12">
                        <div class="form-group">
                            <input type="number" class="form-control"  placeholder="{{ book.from_ | uppercase }}" disabled="true"/>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12">
                        <div class="form-group">
                            <input type="number" class="form-control"  placeholder="{{ book.to_ | uppercase }}" disabled="true"/>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group" ng-show="!isAuthenticated">
                            <input type="text" class="form-control" placeholder="Reservee' Nam" ng-model="username" />
                        </div>
                        <div class="form-group" ng-show="isAuthenticated">
                            <input type="text" class="form-control" placeholder="Reservee' Nam" ng-model="username" disabled="true" />
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Reservee Phone" ng-model="book.ReservePhone" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Reservee Email" ng-model="book.ReserveeEmail" />
                        </div>
                    </div> 
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="confirmation">
                            <a href="#/view4" >
                            <button type="button" class="btn" ng-click="booking()">Confirmation</button>
                            </a>
                        </div>
                    </div>



                </div>
        <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="rs_passenger_info rs_first form-inline" ng-repeat="user in book.passengers track by $index" >
                            <div class="form-group">
                            <pre>Passenger {{$index + 1}}             </pre>
                            </div>
                            <div class="form-group ">
                                <label for="exampleInputName2"  >First Name</label>
                                <input type="text" class="form-control" id="exampleInputName2" ng-model="user.firstName" required  placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">Last Name</label>
                                <input type="text" class="form-control" id="exampleInputName2" ng-model="user.lastName" required  placeholder="Last Name">
                            </div>
                        </div> 

                    </div>

                </div>
            </form>



        </div>
    </section>
</article>