<div class="container">
    <div class="rs_inner_shaddow_details">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-warning rs_flignt">Flights</button>
                    </div>
                </div>
                <div class="row">
                    <form name="myForm" action="" class="rs_form_header" method="post">     
                        <div class="col-md-3 col-sm-3 col-xs-12 rs_aro">
                            <span class="help-block rs_form_labels small-font" > FROM</span>
                            <input ng-model="from" type="text" class="form-control" placeholder="From" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <span class="help-block rs_form_labels small-font" >  TO</span>
                            <input ng-model="destination" type="text" class="form-control" placeholder="To" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <span class="help-block rs_form_labels small-font" > DEPARTURE</span>
                            <p class="input-group date" >
                                <input type="date" class="datepicker">
                            </p>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <span class="help-block rs_form_labels small-font" >PASSENGERS</span>
                            <input ng-model="seats" name="myField" id="seats" required type="number"  min="1" class="form-control"  />
                            <div ng-messages="myForm.myField.$error" role="alert">
                                <div ng-message="required"> you did not enter number of seats</div>
                                <div ng-message="min">minimum value is 1</div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-12 rs_no_padding rs_serach">
                            <button ng-click="getFlight();
                                        searchData()" type="button" class="btn btn-warning rs_srchbtn">SEARCH</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" ng-show="tableHidde">
            <div class="col-md-3 col-sm-3 col-xs-12 rs_aro">
                <input type="button" ng-click="order('origin')"   />From
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 rs_aro">
                <input type="button" ng-click="order('destination')"   />To
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 rs_aro">
                <input type="button" ng-click="order('totalPrice')" />Price
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 rs_aro">
                <input type="button" ng-click="order('traveltime')" />Duration 
            </div>
        </div>
    </div>
</div>
<article>
    <section id="rs_main_body">
        <div class="container" >
            <div class="row">
                <div ng-show="errorScreen">
                    <h2 class="warning">Something went wrong!</h2>
                    <h3 class="warning">Please check your inputs and try again</h3>
                </div>

                <div ng-hide="hideLoading" >
                    <div class="col-md-4" ></div>
                    <img src="assets/img/loading.gif" 
                         style="float: top; alignment-adjust: central; "   
                         align="middle|top"  />
                </div>
                <div class="col-md-12" ng-show="tableHide">
                    <div ng-repeat="flight in data | orderBy : predicate :reverse track by $index  " class="rs_air_shedule"> 
                        <ul class="rs_air_shedule" >
                            <li><th>Airline : </th> {{flight.airline  }}</li>
                            <li><th>Flight ID : <th>{{flight.flightID | limitTo:7  }}</li>
                            <li><th>Tickets : </th>{{flight.numberOfSeats}}</li>
                            <li><th>Date and Time : </th>{{flight.date| date:'MM/dd/yyyy HH:mm':'UTC'}}</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
</article>
