
<div  ng-controller="View1Ctrl">
    <form role="form" ng-submit="getFlights()" >
        FROM: <input type="text" name="from" ng-model="from">
        TO: <input type="text" name="to" ng-model="dest">
        Date: <input type="text" name="date" ng-model="date" value="">
        Seats: <input type="text" name="number" ng-model="number" value="2">
        <button type="submit" class="btn btn-success">Search</button>



    </form>
    <b>Airline name: </b>                   {{output.airline}} <br>
    <br>
    <div style="width: 25em ; border-left: 12em">
    <uib-accordion>
        <uib-accordion-group ng-repeat="unit in output.flights" >
            <uib-accordion-heading>
                {{output.airline}} {{unit.flightNumber}} - Price: {{unit.totalPrice}}
            </uib-accordion-heading>
            <ul>
                <li><b>flightID: </b> {{unit.flightID}} </li>
                <li><b>Seats:</b> {{unit.numberOfSeats}} </li>
                <li><b>Date:</b> {{unit.date}} </li>
                <li><b>PRICE:</b> {{unit.totalPrice}} </li>
                <li><b>Traveltime:</b> {{unit.traveltime}} </li>
                <li><b>From:</b> {{unit.origin}} </li>
                <li><b>Destination:</b> {{unit.destination}} </li>
                <li><b>Flight Number:</b> {{unit.flightNumber}} </li>
                    
               
                </ul>
        </uib-accordion-group>
    </uib-accordion>
</div>


</div>